.header {
  background-color: #3a3a3a;
  display: flex;
  color: white;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  height: 64px;
  position: fixed;
  top: 0;
  width: 100%;
}
